* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #939AA1;
}

nav ul li {
    display: flex;
    display: inline-flex;
    position: relative;
    margin: auto;
    margin-right: 10px;
    right: 20px;
    top: 10px;
    text-decoration: underline #84D1F1 3px;
}

nav a {
    color: #84D1F1;
    margin-bottom: 2px;

}


.hero {
    display: flex;
    /* Might want to play with height value for desired layout */
    height: 400px;
    background-image: url("pattern1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle {
    display: flex;
    margin-right: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #939AA1;
    max-width: 50%;
}

#card h1 {
    color: blue;
}


@media screen and (max-width:500px) {
    .hero {
        max-height: 300px;
    }
}