* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #939AA1;
}

.nav ul li {
    display: flex;
    display: inline-flex;
    position: relative;
    margin: auto;
    margin-right: 10px;
    right: 20px;
    top: 10px;
    text-decoration: underline aquamarine 3px;
}

.nav a {
    color: aquamarine;
    margin-bottom: 2px;

}

.h1 {
    display: inline-block;
    background-color: aquamarine;
    padding-left: 50px;
}